modules = ["nodejs-20", "postgresql-16"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Client"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Client"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @spotlight/client dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @spotlight/server dev"
waitForPort = 8080

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 34289
externalPort = 5173

[[ports]]
localPort = 34501
externalPort = 3001

[[ports]]
localPort = 34529
externalPort = 8081

[[ports]]
localPort = 35941
externalPort = 5000

[[ports]]
localPort = 37123
externalPort = 3002

[[ports]]
localPort = 38605
externalPort = 6000

[[ports]]
localPort = 41875
externalPort = 3000

[[ports]]
localPort = 42273
externalPort = 6800

[[ports]]
localPort = 43007
externalPort = 4200

[[ports]]
localPort = 43063
externalPort = 8080

[[ports]]
localPort = 44387
externalPort = 3003

[[ports]]
localPort = 46355
externalPort = 8008

[nix]
channel = "stable-25_05"
packages = ["typescript", "lsof"]
